---
import { Image } from "astro:assets";
import PalaceResortsLogo from "@/assets/svg/palace-resorts.svg";
import Carousel_1 from "@/assets/images/landing-carousel/carousel-1.png";
import Carousel_2 from "@/assets/images/landing-carousel/carousel-2.png";
import Carousel_3 from "@/assets/images/landing-carousel/carousel-3.png";
import Carousel_4 from "@/assets/images/landing-carousel/carousel-4.png";
import Carousel_5 from "@/assets/images/landing-carousel/carousel-5.png";

import ServicesCardFan from "@/components/services-card-fan.astro";
import LandingCarousel from "@/components/landing-carousel.astro";
import Service_1 from "@assets/images/guest-services/entertainment.png";
import Service_2 from "@assets/images/guest-services/restaurants.png";
import Service_3 from "@assets/images/guest-services/room-service.png";
import Service_4 from "@assets/images/guest-services/spa.png";
import Service_5 from "@assets/images/guest-services/tours.png";

const cards = [
  { title: "Tours", image: Service_5 },
  { title: "Entertainments", image: Service_1 },
  { title: "Restaurants", image: Service_2 },
  { title: "Room Service", image: Service_3 },
  { title: "Spa", image: Service_4 },
];

const contentSlides = [
  {
    title: "The whole resort in one place",
    colors: { l: "#86e0f9", m: "#016692", d: "#022648" },
  },
  {
    image: Carousel_2,
    title: "Save time on your check-in",
    colors: { l: "#d7cef9", m: "#3c5184", d: "#15163a" },
  },
  {
    image: Carousel_3,
    title: "From the menu to your room",
    colors: { l: "#dcd4ce", m: "#454f52", d: "#171514" },
  },
  {
    image: Carousel_4,
    title: "Every day brings something new",
    colors: { l: "#bcdccb", m: "#235e5b", d: "#0e251f" },
  },
  {
    image: Carousel_5,
    title: "Need anything? Just ask",
    colors: { l: "#b6dce8", m: "#155b6f", d: "#08242f" },
  },
];
---

<div
  id="landing-container"
  class="h-full flex items-center justify-center grad"
  style={`--l: ${contentSlides[0].colors.l}; --m: ${contentSlides[0].colors.m}; --d: ${contentSlides[0].colors.d};`}
>
  <div
    class="py-8 px-6 w-full max-w-md flex flex-col gap-8 justify-between h-full"
  >
    <Image
      src={PalaceResortsLogo}
      alt="Palace Resorts Logo"
      class="w-31.5 h-auto mx-auto mb-8"
      loading="eager"
      fetchpriority="high"
    />

    <LandingCarousel slides={contentSlides}>
      <ServicesCardFan
        slot="first-slide"
        cards={cards}
        width={126}
        height={160}
      />
    </LandingCarousel>

    <div class="flex flex-col gap-2">
      <a
        href="/register"
        class="py-2.5 px-5.5 bg-white rounded-full tpc-typography-label-m text-center no-underline text-black"
      >
        Register
      </a>
      <a
        href="/login"
        class="rounded-full border-none text-white! py-2.5 px-5.5 tpc-typography-label-m text-center no-underline"
        style="background: rgba(255, 255, 255, 0.08)"
      >
        Log in
      </a>
      <button
        id="guest-btn"
        class="rounded-full border-none text-white! py-2.5 px-5.5 tpc-typography-label-s"
      >
        Continue as guest
      </button>
    </div>
  </div>
</div>

<script>
  const guestBtn = document.getElementById("guest-btn");

  guestBtn?.addEventListener("click", () => {
    if (window.AndroidInterface) {
      window.AndroidInterface.goToGuest();
    } else if (window.ReactNativeWebView) {
      window.ReactNativeWebView.postMessage("continue_as_guest");
    }
  });
</script>

<style>
  a {
    display: block;
    text-decoration: none;
  }

  a:hover {
    opacity: 0.9;
  }

  a:active {
    opacity: 0.8;
  }
</style>
