---
import { Image } from "astro:assets";
import Notifications from "../assets/images/notifications.png";
import { getTranslations, getLangFromUrl } from "@/i18n/utilities";

const currentLang = getLangFromUrl(Astro.url);
const t = getTranslations(currentLang);
---

<div class="h-full flex flex-col safe-area-inset">
  <div
    class="h-[40%] z-1 flex justify-center"
    style="
					background: linear-gradient(
						180deg,
						#020109 9.33%,
						#1b2545 42.71%,
						#2d4e72 70.53%,
						#5a7fa0 87.22%,
						#a0bac8 100.57%,
						#d4dfe6 111.7%,
						#f5f2ef 120.6%
					);
				"
  >
    <Image
      src={Notifications}
      alt="notifications"
      class="h-auto w-auto"
      loading="lazy"
    />
  </div>

  <div class="bg-white h-[60%] p-8 flex flex-col gap-8 max-w-md mx-auto z-3">
    <div class="flex flex-col flex-1">
      <div class="space-y-3">
        <p class="tpc-typography-title-m text-tpc-fg-default">
          {t.notification.title}
        </p>
        <p class="tpc-typography-body-m text-tpc-fg-default">
          {t.notification.description}
        </p>
      </div>
    </div>
    <div class="flex flex-col gap-5">
      <button
        id="enable-notifications-btn"
        class="py-4 px-5.5 bg-[#183456] rounded-full text-white"
      >
        {t.notification.enableButton}
      </button>
      <button id="skip-notifications-btn" class="underline">
        {t.notification.skipButton}
      </button>
    </div>
  </div>
</div>

<script>
  document
    .getElementById("enable-notifications-btn")
    ?.addEventListener("click", () => {
      // TODO: Enable notifications and complete onboarding
      console.log("Notifications enabled");
    });

  document
    .getElementById("skip-notifications-btn")
    ?.addEventListener("click", () => {
      // TODO: Complete onboarding without notifications
      console.log("Notifications skipped");
    });
</script>
